{% extends "base.html" %}

{% block content %}
	<!-- main-visual -->
	<figure class="main-visual" >
		<img src="/static/images/img-9.jpg" height="234" width="939" alt="" />
		<span class="mask"></span>
		<h1 class="page-title">Блог</h1>
	</figure>
	<div id="twocolumns">
		<!-- content -->
		<section id="content" class="{% block test %}{% endblock test %}">
			<article class="post post-preview">
				<a href="#" class="visual"><img src="/static/images/img-2.gif" alt="" width="300" height="150" ></a>
				<div class="text-block">
					<h1>Post Title</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
					<a href="/blog_post/" class="btn-more">read more</a>
				</div>
			</article>
			<article class="post post-preview">
				<a href="#" class="visual"><img src="/static/images/img-3.gif" alt="" width="300" height="150" ></a>
				<div class="text-block">
					<h1>Post Title</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
					<a href="/blog_post/" class="btn-more">read more</a>
				</div>
			</article>
			<article class="post post-preview">
				<a href="#" class="visual"><img src="/static/images/img-4.gif" alt="" width="300" height="150" ></a>
				<div class="text-block">
					<h1>Post Title</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
					<a href="/blog_post/" class="btn-more">read more</a>
				</div>
			</article>
			<article class="post post-preview">
				<div class="text-block">
					<h1>Post Title</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
					<a href="/blog_post/" class="btn-more">read more</a>
				</div>
			</article>
		</section>
	</div>
{% endblock content %}

