{% extends base.html %}

{% block content %}
	<!-- main-visual -->
	<figure class="main-visual" >
		<img src="images/img-9.jpg" height="234" width="939" alt="" />
		<span class="mask"></span>
		<h1 class="page-title">Блог</h1>
	</figure>
	<div id="twocolumns">
		<!-- content -->
		<section id="content">
			<article class="post">
				<h1>Post Title</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
				<h2>This is a subhead</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
				<blockquote class="blockquote">
					<div>
						<q>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quas similique quam repellendus doloremque illo veritatis labore obcaecati consectetur error reiciendis quae quidem. Delectus reiciendis laboriosam voluptates maiores repudiandae perspiciatis!"</q>
						<cite><a href="#">Username</a></cite>
					</div>
				</blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta blanditiis dignissimos adipisci quas eum labore error numquam similique facilis a dolorum voluptatem <a href="#">alias ea nobis obcaecati</a> nemo provident reiciendis fugiat quae ut et enim quod veniam. Molestias vero impedit suscipit perferendis voluptates dolor ducimus eum eaque laudantium eius! Vitae assumenda.</p>
				<h2>This is a subhead</h2>
				<p>Nostrum incidunt esse provident in deleniti eum cumque vel modi sapiente error laborum atque. Atque optio quisquam repellendus eos repellat temporibus quam deleniti voluptatibus voluptate explicabo architecto aspernatur aliquam minus ut natus numquam magnam molestias dolor voluptas laboriosam nesciunt porro animi sint pariatur saepe et dignissimos quae. Harum eveniet qui.</p>
			</article>
		</section>
	</div>
{% endblock content %}

