{% extends "base.html" %}

{% block content %}

<!-- fade-gallery -->
<div class="fade-gallery">
	<div class="gmask">
		<ul>
			<li class="active">
				<img src="/static/images/img-1.jpg" height="372" width="940" alt="" />
				<span class="mask"></span>
			</li>
			<li>
				<img src="/static/images/img-1b.jpg" height="372" width="940" alt="" />
				<span class="mask"></span>
			</li>
		</ul>
		<div class="text-column">
			<div class="text-block">
				<p>Featured post lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore. <mark>Some marked text.</mark></p>
			</div>
			<div class="btn-block">
				<a href="#" class="btn-2">learn more</a>
			</div>
		</div>
	</div>
	<div class="pagination"></div>
</div>
<!-- widget-section -->
<section class="widget-section section">
	<div class="widget">
		<h2><a href="#">Последние новости</a></h2>
		<!-- news-lsit -->
		<ul class="item-list news-lsit">
			<li>
				<h3><a href="#">Lorem ipsum dolor sit.</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora vel ex eaque quasi necessitatibus. <a href="#" class="btn-more">read more</a></p>
			</li>
			<li>
				<h3><a href="#">Dignissimos modi unde cupiditate.</a></h3>
				<p>Optio saepe quam laudantium vero odit accusamus eum excepturi nihil. Eos soluta cumque tenetur mollitia. <a href="#" class="btn-more">read more</a></p>
			</li>
			<li>
				<h3><a href="#">Facilis quas earum itaque?</a></h3>
				<p>Quasi perferendis ratione consequuntur natus laudantium repellendus harum aspernatur fuga aut omnis animi temporibus esse. <a href="#" class="btn-more">read more</a></p>
			</li>
		</ul>
	</div>
	<div class="widget">
		<h2><a href="#">Последнее в блоге</a></h2>
		<!-- news-lsit -->
		<ul class="item-list news-lsit">
			<li>
				<h3><a href="#">Consequuntur tenetur molestias neque.</a></h3>
				<p>Fuga nostrum perspiciatis optio quis unde repudiandae quam qui facere eaque excepturi ipsam et tempore! <a href="#" class="btn-more">read more</a></p>
			</li>
			<li>
				<h3><a href="#">Incidunt esse adipisci quam.</a></h3>
				<p>Quam magnam cum quae omnis autem voluptatem asperiores nihil illum dolore qui tenetur odit commodi. <a href="#" class="btn-more">read more</a></p>
			</li>
			<li>
				<h3><a href="#">Tempora voluptatem quasi reprehenderit!</a></h3>
				<p>Sint accusantium aliquam a fugiat eum maxime quaerat aperiam numquam modi nesciunt minima inventore molestias. <a href="#" class="btn-more">read more</a></p>
			</li>
		</ul>
	</div>
	<div class="widget">
		<h2><a href="#">Избранное</a></h2>
		<!-- item-list-2 -->
		<ul class="item-list item-list-2">
			<li>
				<h3 class="short"><a href="#">Lorem ipsum dolor sit.</a></h3>
				<div class="meta">
					<span class="date">March 11, 2012</span>
					<span class="author">Some Username</span>
				</div>
			</li>
			<li>
				<h3 class="short"><a href="#">Minus unde facilis incidunt.</a></h3>
				<div class="meta">
					<span class="date">March 11, 2012</span>
					<span class="author">Some Username</span>
				</div>
			</li>
			<li>
				<h3 class="short"><a href="#">Molestiae ab sit veniam!</a></h3>
				<div class="meta">
					<span class="date">March 11, 2012</span>
					<span class="author">Some Username</span>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- section -->
<section class="section">
	<div class="box-1">
		<a href="#" class="visual">
			<img src="/static/images/img-2.gif" alt="" width="300" height="150" >
			<span class="caption">Random text 1</span>
		</a>
	</div>
	<div class="box-1">
		<a href="#" class="visual">
			<img src="/static/images/img-3.gif" alt="" width="300" height="150" >
			<span class="caption">Random text 2</span>
		</a>
	</div>
	<div class="box-1">
		<a href="#" class="visual">
			<img src="/static/images/img-4.gif" alt="" width="300" height="150" >
			<span class="caption">Random text 3</span>
		</a>
	</div>
</section>

{% endblock content %}
